* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_conteiner {
  background-color: #1d2f30;
  height: 60px;
  width: 100%;
  align-items: center;
  padding: 0px 165px;
  display: flex;
  justify-content: space-between;
}
.nav_list {
  display: flex;
  list-style: none;
  font-size: 24px;
  gap: 20px;
  color: white;
}
.nav_list a {
  color: white;
  text-decoration: none;
}
.nav_list :hover {
  color: green;
}
.search_logout {
  display: flex;
  gap: 64px;
}
