* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_conteiner {
  background-color: #1d2f30;
  height: 60px;
  width: 100%;
  align-items: center;
  padding: 0px 405px;
  display: flex;
  justify-content: space-between;
}
.nav_list {
  display: flex;
  list-style: none;
  font-size: 24px;
  gap: 20px;
  color: white;
}
.nav_list a {
  color: white;
  text-decoration: none;
}
.nav_list :hover {
  transition-duration: 1s;
  color: green;
}
.search_logout {
  display: flex;
  gap: 64px;
}
.wellcome_info {
  padding: 0px 405px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/icon/body/7abec015b26d7fd790a80795819f918a2e149d00.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 490px;
}
.wellcome_info .global_text {
  width: 688px;
  height: 125px;
  align-items: center;
  font-size: 50px;
  color: white;
}
.wellcome_info .text {
  font-size: 15px;
  width: 635px;
  height: 72px;
  padding: 0px;
  color: white;
}

.gobal_text_together {
  padding: 165px 0px 0px 0px;
}
.bg_color {
  background-color: #1d2f30;
}

.plant {
  rotate: z 90deg;
  background-color: #0b1919;
  width: 180px;
  height: 255px;
  padding: 16px 30px;
}
.plant h1 {
  rotate: z -90deg;
  display: flex;
}
.flower {
  rotate: z 90deg;
  background-color: #0b1919;
  width: 180px;
  height: 255px;
  padding: 29px 30px;
}
.leaf {
  rotate: z 90deg;
  background-color: #0b1919;
  width: 180px;
  height: 255px;
  padding: 26px 30px;
}
.wood {
  rotate: z 90deg;
  background-color: #0b1919;
  width: 180px;
  height: 255px;
  /* padding: 14px 30px; */
}
.tree_collection {
  padding: 60px 405px;
  display: flex;
  margin: 0px 30px;

  height: 550px;
  justify-content: space-between;
}
.leaf1 {
  rotate: z 90deg;
}
.site_info {
  color: white;

  justify-content: space-between;
}
